@inherits LayoutComponentBase

<PageTitle>ImpossibleSurvivalRace2</PageTitle>

<div class="page">
  @*  <div class="sidebar">
        <NavMenu />
    </div> *@

    <main>
        <div class="top-row px-4">
            <a style="margin:0 auto">Lobby</a>

        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
